.contact_contentBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, .4);
}

.contact_content {
  position: fixed;
  z-index: 11;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  @media screen and (max-width: 991px) {
    bottom: 25px;
    right: 50px;
  }
  @media screen and (max-width: 575px) {
    right: 80px;
  }

  .contact_typesItem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #007aff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    margin-top: 8px;
  }

  .contact_types {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: bottom;
    transition: opacity 1s;

    .whatsapp {
      width: 40px;
      height: 40px;
      background: #08be08;
      font-size: 22px;
    }

    .instagram {
      width: 40px;
      height: 40px;
      background: #eb358c;
      font-size: 22px;
    }

    .sms {
      width: 40px;
      height: 40px;
      background: #007aff;
      font-size: 18px;
    }
  }

  .contact_open_close {
    .contact_open_btn {
      position: relative;

      &::before, &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #007aff;
        border-radius: 50%;
        z-index: -1;
        opacity: .7;
      }

      &::before {
        animation: pulse 2s ease-out infinite;
        @media screen and (max-width: 991px) {
          animation: pulseMobile 2s ease-out infinite;
        }
      }

      &::after {
        animation: pulse 2s 1s ease-out infinite;
        @media screen and (max-width: 991px) {
          animation: pulseMobile 2s 1s ease-out infinite;
        }
      }

      @keyframes pulse {
        100% {
          transform: scale(2.5);
          opacity: 0;
        }
      }
      @keyframes pulseMobile {
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }

    }

    .contact_close_btn {
      background: #d6d6d6;
      position: relative;
      margin-top: 24px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #d6d6d6;
        border-radius: 50%;
        z-index: -1;
        opacity: .2;
        transform: scale(1.3);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #d6d6d6;
        border-radius: 50%;
        z-index: -1;
        opacity: .1;
        transform: scale(1.18);
      }
    }
  }

  .contact_contentIcon {
    color: white;
  }
}