.catalog_content {
  margin: 16px 0 70px 0;
  display: flex;
  flex-wrap: wrap;

  .catalog_content_item {
    width: 25%;
    height: auto;
    @media screen and (max-width: 991px){
      width: 33.3%;
    }
    @media screen and (max-width: 767px){
      width: 50%;
    }
  }
}