.basket_product_select {
  .basket_product_selectName {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #1D1D1D;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 0;
  }
}
