$f-s-13: 13px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-18: 18px;
$f-s-20: 20px;
$font: Inter, san-serif;


.headerSearchContent{
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  height: 0;
  padding: 0;
  overflow: hidden;
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 16px;
      border-bottom: .5px solid #645f5f;
      border-top: .5px solid #645f5f;
      text-transform: uppercase;
      font-size: 13px;
      font-family: $font;
      font-weight: bold;
      a{
        color: black
      }
    }
  }
}