.favorites {
  .favoritesTitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #1A1458;
    display: flex;
    align-items: center;
    margin: 16px 0;

    .favoritesTitleCount {
      font-weight: normal;
      margin-left: 16px;
    }
  }

  .favorites_content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

}