.basket_product {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 32px 0 32px 0;
  border-bottom: 1px solid #989595;
}
.basket_product .product_content {
  display: flex;
}
.basket_product .product_content .basket_product_img {
  width: 180px;
  height: 180px;
}
.basket_product .product_content .basket_product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.basket_product .product_content .basket_product_about {
  width: 65%;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.basket_product .product_content .basket_product_about .basket_productBrand {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #767676;
  margin: 0 0 8px 0;
}
.basket_product .product_content .basket_product_about .basket_productName {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #1D1D1D;
  margin: 0 0 10px 0;
}
.basket_product .product_content .basket_product_about .basket_product_about_color .basket_product_about_colorName {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #1D1D1D;
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
}
.basket_product .product_content .basket_product_about .basket_product_about_color .basket_product_about_colorName span {
  margin-left: 8px;
  color: #767676;
}
.basket_product .product_content .basket_product_about .basket_product_about_color .basket_product_about_colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 13px 0;
}
.basket_product .product_content .basket_product_about .basket_product_about_color .basket_product_about_colors span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  margin-left: 8px;
}
.basket_product .product_content .basket_product_about .basket_product_about_color .basket_product_about_colors span:first-child {
  margin-left: 0;
}
.basket_product .product_content .basket_product_about .basket_product_about_foot {
  display: flex;
  align-items: center;
}
.basket_product .basket_products_price_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.basket_product .basket_products_price_content .basket_products_btns {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .basket_product .basket_products_price_content .basket_products_btns {
    flex-direction: column;
  }
}
.basket_product .basket_products_price_content .basket_products_btns p {
  font-weight: 100;
  font-size: 32px;
  margin: 0 0 0 32px;
}
@media screen and (max-width: 767px) {
  .basket_product .basket_products_price_content .basket_products_btns p {
    display: none;
  }
}
.basket_product .basket_products_price_content .basket_products_btns .basket_products_btn {
  font-size: 24px;
  font-weight: 600;
  margin-left: 32px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .basket_product .basket_products_price_content .basket_products_btns .basket_products_btn {
    flex-direction: column;
    margin-left: 0;
    margin-top: 24px;
  }
}

/*# sourceMappingURL=BasketProduct.module.css.map */
