$font: Inter, san-serif;
.other_vacancy {
  width: 36%;
  padding: 0 36px;
  .other_vacancyTitle {
    font-weight: 600;
    font-size: 24px;
    font-family: $font;
    line-height: 29px;
    color: #1A1458;
    margin-bottom: 40px;
  }
}