$font: Inter, san-serif;

.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  font-family:$font;
  column-gap: 12px;
  color: #ffffff;
  background: #1A1458;
  border-radius: 4px;
  &:hover{
    color: white;
  }
  .link_toArrow{
    font-size: 32px;
  }
}