$font: Inter, san-serif;

.footer_pay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: flex-end;
  }

  .footer_payTitle {
    font-weight: normal;
    font-size: 16px;
    font-family: $font;
    margin-right: 16px;
    @media screen and (max-width: 576px) {
      margin-right: 0;
    }

  }

  .footer_pay_content {
    display: flex;
    align-items: center;
    column-gap: 12px;

    @media screen and (max-width: 576px) {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .footer_payImg {
      object-fit: cover;
      width: 55px;
      height: 30px;
      border-radius: 4px;
      @media screen and (max-width: 576px) {
        margin-top: 16px;
      }
    }
  }
}