$f-s-13: 13px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-18: 18px;
$f-s-20: 20px;
$font: Inter, san-serif;

.header_warn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .warn_menu {
    column-gap: 24px;
    display: flex;
    align-items: center;

    .warn_menuItem {
      font-family: $font;
      font-weight: normal;
      font-size: $f-s-13;
      line-height: 16px;
      color: #262626;
      padding: 10px 0;
    }
    span.warn_menuItem{
      cursor: pointer;
      &::selection{
        background: none;
        color: #262626;
      }
    }
  }
}