.basket_aside {
  position: sticky;
  top: 100px;
  width: 37%;
  background: white;
  border-radius: 4px;
  padding: 32px;
  height: 450px;
  @media screen and (max-width: 991px){
    width: 100%;
    margin-top: 24px;
  }
  p{
    font-weight: normal;
    font-size: 14px;
    line-height: 186%;
    color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }
  .basket_asideTitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #1A1458;
    margin: 0 0 30px 0
  }
  .basket_asideCount{
    span{

    }
  }
  .basket_asideSum{
    span{

    }
  }
  .basket_asideSale{
    span{

    }
  }
  .basket_asideDelivery{
    span{

    }
  }
  .basket_asideAllSum{
    font-weight: 500;
    font-size: 16px;
    padding: 15px 0;
    border-top: 1px solid rgba(0,0,0,0.18);
    border-bottom: 1px solid rgba(0,0,0,0.18);
    margin: 0 0 30px 0;
    span{

    }
  }
  .basket_asideBtn{

  }
}